@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
    font-family: "Cal Sans", sans-serif;
    text-align: center;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: "Cal Sans", sans-serif;
}

li {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: "Cal Sans", sans-serif;
}


nav {
    background-color: rgb(0, 0, 0);
    color: white;
}

a {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: "Cal Sans", sans-serif;
}

a:link {
  color: rgb(255, 0, 79);
}

a:visited {
  color: rgb(119, 0, 38);
}

a:hover {
  transition: color 0.3s ease;
  color: rgb(32, 164, 243);
}

a:active {
  color: rgb(32, 164, 243);
}

p {
    font-family: "Cal Sans", sans-serif;
    color: rgb(0, 0, 0);
}

footer {
    font-family: "Cal Sans", sans-serif;
}


.topnav {
    background-color: #000000;
    overflow: hidden;
    border-radius: 30px;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #484f69;
    color: rgb(255, 255, 255);
    border-radius: 30px;
  }
  
  .topnav a.active {
    background-color: #ff004f;
    color: white;
    border-radius: 30px;
  }


.topnav input[type=text] {
  font-family: "Cal Sans", sans-serif;
  float: right;
  padding: 6px;
  border-radius: 30px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.exercise-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  justify-content: start;
  padding-left: 0px;
}

.container img {
  max-width: 70%;
  height: auto;
  border: 10px solid #ccc;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 30px;
}

.container .text {
  margin-top: 5px;
}

.gallery-preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px; 
  margin: 20px 0;
}

.gallery-item {
  width: 100%;
  height: 200px; 
  overflow: hidden;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.links-section {
  margin-top: 10px;
  text-align: center;
}

.links-section h2 {
  margin-bottom: 20px;
  font-weight: 700;
  color: #000;
}

.links-section ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  gap: 30px;
  justify-content: center;
}

.links-section ul li a {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 0, 79);
  transition: color 0.3s ease;
}

.links-section ul li a:hover {
  color: rgb(32, 164, 243);
}
