{% extends 'layout.html' %}
{% block content %}
<!--Top navigation bar and search box-->
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/all_muscles">Muscles</a>
    <a href="/all_exercises">Exercises</a>
    <form action="{{ url_for('search') }}" method="get" class="topnav">
      <input type="text" name="query" placeholder="Search" required />
    </form>
  </div>
<!--Display muscle names in a grid format-->
<h1>Muscles</h1>
<div class="exercise-grid">
  {% for muscle in muscles %}
  <div class="container">
    <div class="text">
      <p><a href="muscle/{{muscle[0]}}" style="font-size: 30px;">{{muscle[1]}}</a></p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}