{% extends 'layout.html' %}
{% block content %}
<!--Top navigation bar and search box-->
<div class="topnav">
    <a href="/">Home</a>
    <a href="/all_muscles">Muscles</a>
    <a class="active" href="/all_exercises">Exercises</a>
    <form action="{{ url_for('search') }}" method="get" class="topnav">
        <input type="text" name="query" placeholder="Search" maxlength="25" required />
      </form>
</div>
<!--Display specific exercise name and image-->
<h1 style = "text-align: left;">{{ exercise[1] }}</h1>
<h2>Target - {{ exercise[2] }}</h2>
{% if exercise[3] %}
<div style="margin-top: 20px;">
    <h1 style = "text-align: left;">Form</h1>
    <img src="{{ url_for('static', filename='images/' + exercise[3]) }}" alt="Exercise Image" style="max-width: 400px; border: 1px solid #ccc; padding: 10px;">
</div>
{% else %}
<p>No image available for this exercise.</p>
{% endif %}
{% endblock %}
