{% extends 'layout.html' %}

{% block content %}
<!--Top navigation bar and search box-->
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/all_muscles">Muscles</a>
  <a href="/all_exercises">Exercises</a>
  <form action="{{ url_for('search') }}" method="get" class="topnav">
      <input type="text" name="query" placeholder="Search" required />
    </form>
</div>

<section class="links-section container">
    <h2>Explore More</h2>
    <ul>
        <li><a href="/all_muscles">View All Muscles</a></li>
        <li><a href="/all_exercises">View All Exercises</a></li>
    </ul>
</section>
{% endblock %}
