<!DOCTYPE html>
<html lang="en">
<head>
    <!--  Initialise character set, viewport size, title, icon, and css -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExDB - {{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body>
    <!-- Set header and footer -->
    <header>{% include 'header.html' %}</header>
    <main>{% block content %}{% endblock %}</main>
    <footer style="text-align: center;">Rory Collins &copy;2025</footer>
    <footer style="text-align: center; font-size: 12px; color: #666;">
        Disclaimer: The information provided here is for general educational purposes only. It is not a substitute for professional medical advice, diagnosis, or treatment. Always consult with a healthcare professional before starting any new exercise program.
    </footer>
</body>
</html>